[includeIf "gitdir:~/dev/personal/"]
	path = .gitconfig-personal
[includeIf "gitdir:~/dev/work/"]
	path = .gitconfig-work

[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	cm = commit -m
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[core]
	autocrlf = input
	excludesfile = /Users/dzinushin/.gitignore
[pull]
	rebase = true
