# My custom aliases

#alias mcl=~/opt/bin/mc
alias ls=eza
alias la='ls -la'
#alias cat='bat'
alias kx=kubectx
alias o='open .'
alias ms="mcs search"
alias uuid='uuidgen | tr "[:upper:]" "[:lower:]"'
alias c=curlie
alias v=nvim
alias kc=kafkactl
alias y=yazi
alias t=tmux
alias ta=tmux att
###########################################################
# brew
alias bu='brew update && brew upgrade && brew cleanup'
alias binf='brew info'
alias bi='brew install'
alias bs='brew search'
alias blv='brew ls --versions'
alias blvg='brew ls --versions | grep '
###########################################################
# docker
alias dvls='docker volume ls'
alias dcu='docker compose up'
alias dcud='docker compose up -d'
alias dcd='docker compose down'
alias dcdv='docker compose down -v'
alias dcrm='docker compose rm'
alias dcps='docker compose ps'
alias dctprf='docker container prune -f'


###########################################################
# trans alias
alias tren="trans en:ru"
alias en="trans en:ru"
alias trru="trans ru:en"
alias ru="trans ru:en"

###########################################################
# yc cli aliases

# configuaration
alias ypl="yc config profile list"
alias ypa="yc config profile activate"

#
alias ycl="yc resource-manager cloud list"
alias yfl="yc resource-manager folder list"

# container registry
alias ycregl="yc container registry list"
alias ycrepl="yc container repository list"
## how filter by repository: yc container image list --repository-name="crpen0brf260nmtkj6ob/bumper"
alias ycimgl="yc container image list"

# k8s
alias yccl="yc container cluster list"

# managed postgresql
alias ympcl="yc managed-postgresql cluster list"
alias ympdl="yc managed-postgresql database list"
alias ympul="yc managed-postgresql user list"
