# My custom aliases

#alias mcl=~/opt/bin/mc
alias ls=eza
alias la='ls -la'
#alias cat='bat'
alias kx=kubectx
alias o='open .'


###########################################################
# trans alias
alias tren="trans en:ru"
alias trru="trans ru:en"

###########################################################
# yc cli aliases

# configuaration
alias ypl="yc config profile list"
alias ypa="yc config profile activate"

# 
alias ycl="yc resource-manager cloud list"
alias yfl="yc resource-manager folder list"

# container registry
alias ycregl="yc container registry list"
alias ycrepl="yc container repository list"
## how filter by repository: yc container image list --repository-name="crpen0brf260nmtkj6ob/bumper"
alias ycimgl="yc container image list"

# k8s
alias yccl="yc container cluster list"

# managed postgresql
alias ympcl="yc managed-postgresql cluster list"
alias ympdl="yc managed-postgresql database list"
alias ympul="yc managed-postgresql user list"